.App {
  text-align: center;
}

.myrow{
  border: 2px solid black;
}
td.mytd {
  padding: 12px;
  border-right: 2px solid red;
}

.paginate{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}